[submodule "FuzzyFinder"]
    path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "colo-github"]
    path = bundle/colo-github
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "colo-gruvbox"]
    path = bundle/colo-gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "colo-kolor"]
    path = bundle/colo-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "colo-lucius"]
    path = bundle/colo-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "colo-monokai"]
    path = bundle/colo-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "colo-molokai"]
    path = bundle/colo-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "fugitive"]
    path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "mw-utils"]
    path = bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "nerdtree"]
    path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "snippets"]
    path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "syntastic"]
    path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tasklist"]
    path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "tcomment"]
    path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/l9"]
    path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "supertab"]
    path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "snipmate"]
    path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/taglist"]
    path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/airline"]
    path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/youcompleteme"]
    path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/colo-badwolf"]
    path = bundle/colo-badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/colo-railscasts"]
    path = bundle/colo-railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/colo-wombat"]
    path = bundle/colo-wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "bundle/vim-rails"]
    path = bundle/vim-rails
    url = https://github.com/tpope/vim-rails.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/colo-hybrid"]
	path = bundle/colo-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
